@model TestMVC.Models.Film

<h1>Edit Film</h1>

<div id="partialZone">

</div>
<h2>Edit @Model.Name movie</h2>

@{
    ViewData["Action"] = "Edit";
    await Html.RenderPartialAsync("~/Views/Home/_FilmForm.cshtml", Model);
}